{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-classes",
        ["module-resolver", {
            "root": ["./web-client", "./web-client/material-dashboard"],
            "alias": {
                "^@dashboard/(.+)": "./web-client/material-dashboard/\\1"
            }
        }]
    ]
}