<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On
	RewriteOptions MaxRedirects=1

	RewriteRule ^[^/]+.ico$ - [L]
	RewriteRule ^assets/.*$ - [L]
	RewriteRule ^.*\.php.*$ - [L]
	RewriteRule ^(.+)/(.+)\.html$ index.php?module=$1&path=$2 [L]
	RewriteRule ^(.*).html$ index.php?t=$1 [L]
	RewriteRule ^(.+)/(.+)$ index.php?module=$1&path=$2 [L]
	RewriteRule ^(.*)$ index.php?t=$1 [L]

    ErrorDocument 404 /error.php
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>

<Files cafetapi_load.php>
	Deny from all
</Files>

<Files debug.log>
	Deny from all
</Files>

ErrorDocument 400 /error.php
ErrorDocument 401 /error.php
ErrorDocument 403 /error.php
ErrorDocument 405 /error.php
ErrorDocument 408 /error.php
ErrorDocument 500 /error.php
ErrorDocument 501 /error.php
ErrorDocument 502 /error.php
ErrorDocument 503 /error.php
ErrorDocument 504 /error.php
ErrorDocument 505 /error.php